<%- include('partials/header') %>

<div class="container page-container">
    <div class="card view-card">
        <div class="view-header">
            <div class="view-tags">
                <% if (hisaab.isEncrypted) { %>
                    <span class="tag tag-blue icon-tag">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 2a1 1 0 011 1v2a2 2 0 11-4 0V3a1 1 0 011-1zm-4.32 5.512a1 1 0 011.415 1.414A4.986 4.986 0 008 11.917V15a1 1 0 11-2 0v-3.083A6.983 6.983 0 015.68 7.512zM12 9a2 2 0 100-4 2 2 0 000 4zm-1.636 1.447a1 1 0 011.272-1.54A6.983 6.983 0 0114 11.917V15a1 1 0 11-2 0v-3.083a4.986 4.986 0 00-2.364-1.47z" clip-rule="evenodd" /></svg>
                        Encrypted
                    </span>
                <% } %>
                <a href="#" class="tag tag-gray icon-tag">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor"><path d="M7.5 7a2.5 2.5 0 100 5 2.5 2.5 0 000-5zM12.5 7a2.5 2.5 0 100 5 2.5 2.5 0 000-5zM9 9a1 1 0 112 0 1 1 0 01-2 0zM5.5 9a1 1 0 112 0 1 1 0 01-2 0zM14.5 9a1 1 0 112 0 1 1 0 01-2 0z" /></svg>
                    Share as a link
                </a>
            </div>
            <div class="view-actions">
                <form action="/delete/<%= hisaab.id %>" method="POST" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete this hisaab?');">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <a href="/edit/<%= hisaab.id %>" class="btn btn-secondary">Edit</a>
            </div>
        </div>
        
        <div class="view-content">
            <p class="hisaab-date">Created: <%= hisaab.createdDate %></p>
            <h2 class="view-title"><%= hisaab.title %></h2>
            <p class="view-details"><%= hisaab.details.replace(/\n/g, '<br>') %></p>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
